@charset "UTF-8";
/* reseteo */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* colores */
/* breaking points responsive */
/* Style para el index.html */
.header {
  background-color: khaki;
  height: 110px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Nav Bar */
}
.header__Nav-list {
  display: none;
  list-style-type: none;
  margin: 0 20px;
}
.header__Nav-list a {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: large;
  text-decoration: none;
  margin: 0 20px;
}
.header__Nav-list a:hover {
  color: rgb(39, 117, 39);
}
.header__Nav-list li:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.header__Nav-mobile span {
  font-size: 50px;
}
.header__Nav-mobile ul {
  position: absolute;
  right: 0;
  top: 100px;
  background-color: khaki;
  width: 150px;
  display: none;
}
.header__Nav-mobile ul li {
  padding: 20px 0;
  text-align: center;
  list-style-type: none;
}
.header__Nav-mobile ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.header__Nav-mobile:hover ul {
  display: block;
}

/* Logo de TAKENOKO */
.logo {
  height: 100px;
  width: auto;
  margin-left: 20px;
}

/* Media Queries */
@media (min-width: 770px) {
  .header__Nav-list {
    display: flex;
  }
  .header__Nav-mobile {
    display: none;
  }
  .categorias__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 950px) {
  .header__Nav-list a {
    margin: 0 40px;
  }
}
/* Introducción */
.intro {
  color: rgb(39, 117, 39);
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding: 40px 100px;
  max-width: 1200px;
}

/* Categorias para temáticas principales */
.categorias {
  max-width: 1200px;
  margin: 10 auto;
}
.categorias__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.categorias__cards--tarjeta {
  width: min-content;
  box-shadow: 5px 5px 20px -12px gray;
  border-radius: 10px;
  align-items: center;
}

a img {
  height: auto;
  width: 250px;
  border-radius: 10px;
}

/* Suscripción al newsletter */
.newsletter {
  background-color: khaki;
  margin: 40px 0;
  padding: 20px 0;
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(39, 117, 39);
}
.newsletter p {
  margin-bottom: 20px;
}
.newsletter form input {
  width: 300px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  margin: 20px 0px;
}
.newsletter form button {
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline;
  justify-content: center;
}

/* Artículos destacados */
.destacados {
  max-width: 1200px;
  text-align: center;
}
.destacados p {
  font-size: 25px;
  color: rgb(39, 117, 39);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.destacados__articulos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.destacados__articulos img {
  width: 400px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
}

@media (min-width: 770px) {
  .categorias__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .newsletter form button {
    display: inline;
  }
}
@media (min-width: 950px) {
  .destacados__articulos {
    flex-direction: row;
  }
}
/* Footer */
.footer {
  background-color: khaki;
  margin-top: 50px;
  font-size: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 1fr;
}
.footer__columna {
  text-align: center;
  max-width: 1200px;
}
.footer__columna-p {
  margin: 30px 0;
}

.iconos {
  width: 30px;
  height: auto;
  margin: 0 10px;
  margin-bottom: 30px;
}
.iconos:hover {
  transform: scale(1.5);
  transition: 1s;
}

@media (min-width: 770px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
/* Articulos */
h1 {
  color: rgb(39, 117, 39);
  text-align: center;
  padding: 30px;
}

.introArticulos {
  color: rgb(39, 117, 39);
  font-size: 22px;
  text-align: center;
  max-width: 10000px;
  margin-bottom: 40px;
}

.banner {
  width: 1200px;
  height: 100px;
  background-image: url(/assets/pictures/tallos.jpeg);
  margin-bottom: 50px;
}

.banner img {
  display: none;
  margin: 30px;
}

.bannerSpace {
  margin: 50px 0 30px 0;
  height: 250px;
}

.txtnoshow {
  display: none;
}

.container {
  margin-top: 30px;
}

.articulos__titulo {
  text-align: center;
}

.articulos__resumen {
  font-style: italic;
}

@media (min-width: 770px) {
  .banner img {
    display: inline;
  }
  .txtnoshow {
    display: inline;
    text-align: center;
  }
  .articulos__titulo {
    padding-top: 15px;
  }
}
main {
  max-width: 1200px;
}

.cursocard {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.btn {
  background-color: rgb(39, 117, 39);
}
.btn:hover {
  scale: 1.1;
}

@media (min-width: 770px) {
  .cursocard {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 950px) {
  .cursocard {
    grid-template-columns: repeat(3, 1fr);
  }
}
.agriUrbana {
  color: rgb(39, 117, 39);
  max-width: 1200px;
}
.agriUrbana p {
  font-size: 24px;
}
.agriUrbana img {
  margin: 30px 0;
  width: 500px;
  height: auto;
}

iframe {
  align-content: center;
  margin: 40px 0;
}

.servicios {
  max-width: 1200px;
}
.servicios p {
  color: rgb(39, 117, 39);
  font-size: 24px;
  text-align: center;
  max-width: 700px;
  margin-bottom: 200px;
}

.tienda {
  max-width: 1200px;
}
.tienda p {
  color: rgb(39, 117, 39);
  font-size: 24px;
  text-align: center;
  max-width: 700px;
}
