* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Style para el index.html */
.header {
    background-color: khaki;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Logo de TAKENOKO */
.logo {
    height: 150px;
    width: auto;
    margin-left: 50px;
}
/* Nav Bar */
.header__Nav-list {
    display: none;
    list-style-type: none;
    margin: 0 100px;
}
.header__Nav-list a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: large;
    text-decoration: none;
    margin: 0 40px;
}
.header__Nav-list a:hover {
    color: rgb(2, 150, 2);
}
.header__Nav-mobile span {
    font-size: 30px;
}
/* Introducción */
.intro {
    color: rgb(2, 150, 2);
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 40px 100px;
}
/* Categorias para temáticas principales */
.categorias {
    max-width: 1200px;
    margin: 0 auto;
}
.categorias__cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 80px;
}
.categorias a img {
    height: auto;
    width: 250px;
    border-radius: 10px;
}
.categorias__cards--tarjeta {
    width: min-content;
    box-shadow:  5px 5px 20px -12px gray;
    border-radius: 10px;
    align-items: center;
}
/* Suscripción al newsletter */
.newsletter {
    background-color: khaki;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 30px 0;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2, 150, 2);
}
.newsletter p {
    margin-bottom: 10px;
}
.newsletter form input {
    width: 300px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    margin: 20px 30px;
}
.newsletter form button {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
}
/* Artículos destacados */
.destacados p {
    font-size: 25px;
    color: rgb(2, 150, 2);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.destacados__articulos {
    display: flex;
    text-align: center;
}
.destacados__articulos img {
    width: 60%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}
/* Footer */
.footer {
    background-color: khaki;
    font-size: 20px;
    color: rgb(2, 150, 2);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.footer__columna {
    text-align: center;
}
.footer__columna h4 {
    margin: 30px 0;
}
.iconos {
    height: 40px;
    width: 40px;
    margin: 0 10px;
    margin-bottom: 30px;
}
/* Style para páginas de Artículos, Cursos, Servicios y Tienda
El header es igual al del index y toma estilo de lo definido más arriba */

main h1 {
    color: rgb(2, 150, 2);
    text-align: center;
    margin: 40px 0;
}
.articulos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
.articulos__titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.articulos__titulo a {
    text-decoration: none;
    list-style: none;
    color: black;
}
.articulos__titulo a:hover {
    font-weight: bold;
}
.articulos__resumen {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.lastrow {
    margin-bottom: 100px;
}
/* Style para la categoría Agricultura Urbana */
.agriUrbana {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    color: rgb(2, 150, 2);
    margin-left: 80px;
}
.agriUrbana iframe {
margin-left: 300px;
}
.agriUrbana img {
    width: 40%;
    margin-left: 200px;
}

/* Media Queries */
@media (min-width: 768px) {
    .header__Nav-list {
        display: flex;
    }
    .header__Nav-mobile {
        display: none;
    }
    .categorias__cards {
        grid-template-columns: repeat(3, 1fr);
    }

}