/* Articulos */
h1 {
    color: $titcolor;
    text-align: center;
    padding: 40px;
}
.txtnoshow {
    display: none;
}
.container {
    margin-top: 30px;
}
.articulos__titulo {
    text-align: center;
}
.articulos__resumen {
    font-style: italic;
}

@media (min-width: $bpsmall) {
    .txtnoshow {
        display: inline;
        text-align: center;
    }
    .articulos__titulo {
        padding-top: 15px;
    }
}
