main {
    max-width: 1200px;
}
.cursocard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}
.btn {
    background-color: $titcolor;
    &:hover {
        scale: (1.1);
    }
}

@media (min-width: $bpsmall) {
    .cursocard {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: $bpmedium) {
    .cursocard {
        grid-template-columns: repeat(3, 1fr);
    }
}
