/* Introducción */
.intro {
    display: none;
    color: $titcolor;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 40px 100px;
    max-width: 1200px;
}
/* Categorias para temáticas principales */
.categorias {
    max-width: 1200px;
    margin: 10 auto;
    
    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        height: auto;
        gap: 40px;
        margin-top: 25px;

        &--tarjeta {
            width: min-content;
            box-shadow:  5px 5px 20px -12px gray;
            border-radius: 10px;
            align-items: center;
        }
    }
}
a img {
    height: auto;
    width: 250px;
    border-radius: 10px;
    }
/* Suscripción al newsletter */
.newsletter {
    background-color: $backcolor;
    margin: 40px 0;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: $titcolor;
    
    & p {
        margin-bottom: 20px;
    }
   
    & form input {
        width: 300px;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        font-size: 20px;
        margin: 20px 0px;
    }
    & form button {
        font-size: 17px;
        border-radius: 5px;
        padding: 5px 10px;
        display: inline;
        justify-content: center;
    }
}
.carrusel {
    width: 50%;
    height: auto;
}
/* Artículos destacados */
.destacados {
    max-width: 1200px;
    text-align: center;

    & p {
        font-size: 25px;
        color: $titcolor;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    &__articulos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        & img {
            width: 400px;
            height: auto;
            margin-top: 50px;
            margin-bottom: 50px;
            border-radius: 10px;
    }
}
}
@media (min-width: $bpsmall) {
    .intro {
        display: inline-block;
        font-size: 17px;
    }
    .categorias__cards {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 0;
    }
    .newsletter {
        font-size: 22px;
        
        & form button {
            display: inline;
            font-size: 20px;
        }
    }
}
@media (min-width: $bpmedium) {
    .intro {
        font-size: 22px;
    }
    .destacados__articulos {
        flex-direction: row;
    }
}